{% extends "base.html" %} 

{% load static %} 

{% block title %}Password Reset{% endblock %} 

{% block extra_css %}
<!-- Main CSS -->
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<!-- Additional CSS -->
{% endblock %} 

{% block content %}
<div class="main">
  <section class="sign-in">
    <div class="container">
      <div class="signin-content">
        <div class="signin-image">
          <figure>
            <img
              src="{% static 'images/signin-image.jpg' %}"
              alt="sign up image"
            />
          </figure>
        </div>
        <div class="signin-form">
          <h2 class="form-title header-title">Forgotten your password?</h2>
          <p style="margin-bottom: 15px">
            Enter your email address below, and we’ll email instructions for
            setting a new one.
          </p>
          <form method="post" class="register-form" id="login-form">
            {% csrf_token %}
            <div class="form-group">
              <label for="{{ form.email.id_for_label }}"
                ><i class="zmdi zmdi-email"></i
              ></label>
              {% comment %} {{ form.email }} {% endcomment %}
              <input
                type="email"
                name="email"
                id="id_email"
                placeholder="Email address"
                class="form-control"
                required
              />
            </div>

            <div class="form-group form-button">
              <input
                type="submit"
                name="signin"
                id="signin"
                class="form-submit"
                value="Reset my password"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
