{% extends "base.html" %} 

{% load static %} {% block title %}Reset Your Password{% endblock %} 

{% block extra_css %}
<!-- Main CSS -->
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<!-- Additional CSS -->
{% endblock %} 

{% block content %}
<div class="main">
  <section class="sign-in">
    <div class="container">
      <div class="signin-content">
        <div class="signin-image">
          <figure>
            <img
              src="{% static 'images/signin-image.jpg' %}"
              alt="sign up image"
            />
          </figure>
        </div>
        <div class="signin-form">
          <h2 class="form-title header-title">Reset your password</h2>
          <p style="margin-bottom:15px">Please enter your new password twice so we can verify you typed it in correctly.</p>
          <form method="post" class="register-form" id="reset-form">
            {% csrf_token %}
            <div class="form-group">
              <label for="{{ form.new_password1.id_for_label }}">
                <i class="zmdi zmdi-lock"></i>
              </label>
              <input
                type="password"
                name="{{ form.new_password1.name }}"
                id="{{ form.new_password1.id_for_label }}"
                placeholder="New password"
                class="form-control"
              />
            </div>

            {% comment %} <div class="form-group">
              {% if form.new_password1.help_text %}
              <small class="form-text text-muted">{{ form.new_password1.help_text|safe }}</small>
              {% endif %}
            </div> {% endcomment %}

            <div class="form-group">
              <label for="{{ form.new_password2.id_for_label }}">
                <i class="zmdi zmdi-lock"></i>
              </label>
              <input
                type="password"
                name="{{ form.new_password2.name }}"
                id="{{ form.new_password2.id_for_label }}"
                placeholder="Confirm new password"
                class="form-control"
              />
            </div>

            <div class="form-group form-button">
              <input
                type="submit"
                name="reset_password"
                id="reset_password"
                class="form-submit"
                value="Reset my password"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
