{% extends "base.html" %}

{% load static %}
{% block title %}Change Your Password{% endblock %}

{% block extra_css %}
<!-- Main CSS -->
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<!-- Additional CSS -->
{% endblock %}

{% block content %}
<div class="main">
  <section class="sign-in">
    <div class="container">
      <div class="signin-content">
        <div class="signin-image">
          <figure>
            <img
              src="{% static 'images/signin-image.jpg' %}"
              alt="password change image"
            />
          </figure>
        </div>

        <div class="signin-form">
          <h2 class="form-title head-title">Change Your Password</h2>
          <form method="post" class="register-form" id="password-change-form">
            {% csrf_token %}
            <div class="form-group">
              <label for="{{ form.old_password.id_for_label }}">
                <i class="zmdi zmdi-lock"></i>
              </label>
              {% comment %} {{ form.old_password }} {% endcomment %}
              <input
              type="password"
              name="{{ form.old_password.name }}"
              id="{{ form.old_password.id_for_label }}"
              placeholder="Old Password"
              class="form-control"
            />
            </div>
            <div class="form-group">
              <label for="{{ form.new_password1.id_for_label }}">
                <i class="zmdi zmdi-lock-outline"></i>
              </label>
              {% comment %} {{ form.new_password1 }} {% endcomment %}
              <input
              type="password"
              name="{{ form.new_password1.name }}"
              id="{{ form.new_password1.id_for_label }}"
              placeholder="New Password"
              class="form-control"
            />
            </div>
            <div class="form-group">
              {% if form.new_password1.help_text %}
              <small class="form-text text-muted">{{ form.new_password1.help_text|safe }}</small>
              {% endif %}
            </div>
            <div class="form-group">
              <label for="{{ form.new_password2.id_for_label }}">
                <i class="zmdi zmdi-lock-outline"></i>
              </label>
              {% comment %} {{ form.new_password2 }} {% endcomment %}
              <input
              type="password"
              name="{{ form.new_password2.name }}"
              id="{{ form.new_password2.id_for_label }}"
              placeholder="Confirm new password"
              class="form-control"
            />
            </div>
            <div class="form-group form-button">
              <input
                type="submit"
                name="password_change"
                id="password_change"
                class="form-submit"
                value="Change Password"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
