{% extends "base.html" %} 

{% load static %} 
{% block title %}Password Change Successful{% endblock %} 

{% block extra_css %}
<!-- Main CSS -->
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<!-- Additional CSS -->

{% endblock %} {% block content %}
<div class="main">
  <section class="sign-in">
    <div class="container">
      <div class="signin-content">
        <div class="signin-image">
          <figure>
            <img
              src="{% static 'images/signin-image.jpg' %}"
              alt="password change done image"
            />
          </figure>
        </div>

        <div class="signin-form">
          <h2 class="form-title header-title">Password Change Successful</h2>
          <p>
            Your password has been successfully changed. You can now
            <strong><a href="{% url 'login' %}">Login</a> </strong> with your
            new password.
          </p>
        </div>
      </div>
    </div>
  </section>
</div>
{% endblock %}
