{% extends "base.html" %} 

{% load static %} 

{% block title %}Registration Successful{% endblock %} 

{% block extra_css %}
<!-- Main CSS -->
<link rel="stylesheet" href="{% static 'css/style.css' %}" />
<!-- Additional CSS -->
{% endblock %} 

{% block content %}
<div class="main">
  <div class="container">
    <div class="signup-content">
      <div class="signup-form">
        <h2 class="form-title">Registration Successful</h2>
        <p>
          Welcome,<strong> {{ new_user.username }}</strong>! Your account has been created
          successfully.
        </p>
        <p>
          You can now
          <a  href="{% url 'login' %}">log in</a> to
          your account.
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
